*{
    box-sizing: border-box;
    font-family: "ChenYuluoyan-Thin";;
    
} 
.gotop {
    z-index: 10;          
    position: fixed;      
    top: 85%;
    left: 90%;
    opacity: 0.80; 
}
.list{
    margin: 0px;
    padding: 10px;
    display: inline-block;
}
.logo{
    
}